@font-face {
  font-family: "Inter";
  src: url("./Inter/Inter-VariableFont_opsz\,wght.ttf") format("ttf");
  font-style: normal;
	font-weight: 400;
}

@font-face {
  font-family: "InterItalic";
  src: url("./Inter/Inter-Italic-VariableFont_opsz\,wght.ttf") format("ttf");
  font-style: italic;
}

* {
	font-family: "Inter", "Arial", "sans-serif";
	font-size: 12px;
	margin: 0 auto;
	box-sizing: border-box;
}

.wrapper {
	background-color: #F7F7F7;
}

.container {
	background-color: #FFFFFF;
	max-width: 1010px;
	min-height: 1147px;
	padding: 36px;
}


.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 30px 33px;
	align-content: flex-start;
	padding: 0;
	margin-bottom: 30px;
	margin-top: 30px;
	max-width: 938px;
	width: 100%;
}

.ant-tabs .ant-tabs-content-holder {
	width: 100%;
}