@font-face {
  font-family: "Inter";
  src: url("./Inter/Inter-VariableFont_opsz\,wght.ttf") format("ttf");
  font-style: normal;
	font-weight: 400;
}

@font-face {
  font-family: "InterItalic";
  src: url("./Inter/Inter-Italic-VariableFont_opsz\,wght.ttf") format("ttf");
  font-style: italic;
}

* {
	font-family: "Inter", "Arial", "sans-serif";
	font-size: 12px;
	margin: 0 auto;
}

.wrapper {
	background-color: #F7F7F7;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 35px 35px;
	background-color: #FFFFFF;
	max-width: 1010px;
	min-height: 1147px;
	align-content: flex-start;
}
